/*= = = = = = = = = = = = = = = = = = = = = = = = = = = = = == = =
 = = = = = = = = = == = =   HEADER CSS  = = = = = = = = = = = = = =*/
.header {
  background: $header-bg;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__left,
  &__right {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    font-size: 1.2rem;
    color: $primary-text-color;
    & > .timing {
      display: flex;
      flex-direction: column;
    }
  }
  &__middle {
    & > img {
    }
  }
}
