@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,900&display=swap");

//fonts family
$base-font: "Montserrat";

//color variables
$pramary-color: #ffffff;
$brand-color: #1aa644;
$primary-text-color: #121312;
$secondary-text-color: #6e726e;
$gray-color: #e3e4e6;
$light-gray-1: #e8efec;
$light-gray-2: #f4f6f1;
$yellow-color: #f4db05;
